<div class="container-fluid contenedor-login">

    <form class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
        <label for="inputEmail" class="sr-only">Correo Electronico</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Correo electronico" autofocus="">
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña">
        <div class="checkbox mb-3">

        </div>
        <button class="btn btn-lg btn-primary btn-block " routerLinkActive="active" routerLink="/inicio" type="submit">Iniciar</button>

    </form>

</div>