<!-- LLAMADA A COMPONENTE LOGIN -->

<!-- <app-login> </app-login> -->

<!-- TERMINO LLAMADA A COMPONENTE LOGIN -->

<!-- LLAMADA A COMPONENTE REGISTRO -->
<!-- <app-registro></app-registro> -->

<!-- TERMINO LLAMADA A COMPONENTE REGISTRO -->

<router-outlet></router-outlet>

<!-- LLAMADA A COMPONENTE HEADER / PRODUCTO / ASIDE / FOOOTER -->
<!-- <app-header>


</app-header>


<div class="container-fluid">



     <app-producto class="producto"></app-producto> 
    <app-aside class="aside"></app-aside>

</div>



<app-footer></app-footer> -->

<!-- TERMINO LLAMADA A COMPONENTE HEADER / PRODUCTO / ASIDE / FOOOTER -->