<aside class="aside col-12 px-0">

    <div class="list-group w-100">
        <a href="#" class="list-group-item active" style="text-align: center;">MAS LINEAS DE PRODUCTOS</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>
        <a href="#" class="list-group-item">Producto 1</a>


    </div>




</aside>