<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:80px;">
    <div class="container-fluid ">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/inicio" style="font-weight: bold;">EVERIS</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/hombre">HOMBRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/mujer">MUJER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/ninio">NIÑOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/destacado">PRODUCTOS DESTACADOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/proximamente">PROXIMOS PRODUCTOS</a>
                </li>

            </ul>
        </div>

    </div>
</nav>